!!!
head
	title= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0')

	link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
	//- link(rel='stylesheet', href='/css/libs/font-awesome.css')
	link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:100')
	link(rel='stylesheet', href='/css/drive.css')
body
	
	main
		aside#sidebar
			i.close-sidebar.fa.fa-times-circle
			header
				h1 DEKRA
				i.fa.fa-map-marker
				small Västravägen 22
				br
				i.fa.fa-phone
				small 08-890 98 78
			h2 Öppettider
			ul
				li Mån - fre 08:00--17:00
				li Lör 10:00--14:00
				li Sön Stängt
		#map
	script(src='/js/libs/jquery.js')
	script(src='js/bootstrap.min.js')
	script(src='http://www.google.com/jsapi')
	script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCeKMvcgt8Rd7ZyhbtoOPyqyFTqesPNV3o&sensor=true')
	script(src='js/bundle.js')