!!!
head
	title= title
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='format-detection', content='telephone=no')

	link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
	//- link(rel='stylesheet', href='/css/libs/font-awesome.css')
	link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:100')
	link(rel='stylesheet', href='/css/drive.css')
body
	nav.hide
		a
			i.fa.fa-bars
	aside#sidebar
		i.close-sidebar.fa.fa-times-circle
		header
			h1#stationName
			i.fa.fa-map-marker
			span#stationStreetAdr 

		h2
			i.fa.fa-clock-o
			Öppettider
		ul#stationHours
			li Mån - fre 08:00--17:00
			li Lör 10:00--14:00
			li Sön Stängt
		#contact
			a#btnBook.cta
				i.fa.fa-calendar-o
				div Boka tid
			a#btnCall.cta
				i.fa.fa-phone
				div Ring
			#lblPhone
	main
		article#start-page
			img#preview(src='img/ios-karta.png', alt='preview')
			section
				header
					h1.logo
						img(src='img/trade-marker.png', alt='logo')
						|Besikta
						b Nu
					p Det självklara valet när du behöver fordonsbesiktning
				p Hitta en besiktningsutförare nära dig på ett enkelt och smidigt sätt!

		#map.hide
		input#mapSearch.hide(type='text', placeholder='Var är du?')
	script(src='/js/libs/jquery.js')
	script(src='js/bootstrap.min.js')
	script(src='http://www.google.com/jsapi')
	script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCeKMvcgt8Rd7ZyhbtoOPyqyFTqesPNV3o&sensor=true&libraries=places,geometry')
	script(src='js/bundle.js')