@import url("reset.css");
html,
body {
  height: 100%;
  background-color: #ccdfb3;
  -webkit-font-smoothing: antialiased;
}
nav {
  background-color: #ccdfb3;
}
main {
  position: relative;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#start-page {
  height: 100%;
}
#start-page .logo {
  margin: -6px;
  font: bold 4.8rem 'Helvetica Neue', sans-serif;
  color: #6a6a6a;
}
#start-page .logo b {
  font-weight: normal;
  color: #7abc30;
}
#start-page .logo img {
  margin-top: -10px;
}
#start-page p {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
#map {
  width: 100%;
  height: 100%;
}
.hide {
  display: none !important;
}
#sidebar {
  position: absolute;
  transition: transform 0.3s;
  transform: translatex(-260px);
  top: 0;
  z-index: 2;
  width: 260px;
  height: 100%;
  padding: 6px 10px 0 18px;
  background-color: rgba(0,0,0,0.85);
  color: #eee;
  font-size: 1.6rem;
}
#sidebar i {
  margin-right: 4px;
}
#sidebar .close-sidebar {
  float: right;
  font-size: 4rem;
  color: rgba(255,0,0,0.8);
  margin: 0;
  cursor: pointer;
}
#sidebar .close-sidebar:hover {
  color: #f00;
}
#sidebar header {
  margin-top: 46px;
}
#sidebar h1 {
  font-weight: normal;
  font-size: 2rem;
  color: #6495ed;
}
#sidebar h2 {
  margin-top: 12px;
  color: #6495ed;
  font-size: 1.6rem;
}
#sidebar #contact {
  margin-top: 12px;
  border-top: 1px solid #444;
}
#sidebar #contact .cta {
  display: inline-block;
  text-align: center;
  width: 50%;
  margin: 4px 0 12px;
  padding-top: 10px;
  border-left: 1px solid #444;
  cursor: pointer;
  color: #6495ed;
}
#sidebar #contact .cta i {
  font-size: 2.8rem;
  color: #6495ed;
}
#sidebar #contact .cta i.fa-calendar {
  margin: -3px 0 3px 0;
}
#sidebar #contact .cta:first-child {
  border-left: none;
}
#sidebar #contact .cta:hover {
  text-decoration: none;
}
#sidebar #contact #lblPhone {
  text-align: center;
  font-size: 2.4rem;
}
#sidebar.show-sidebar {
  transform: translatex(0);
}
#mapSearch {
  border: 1px solid transparent;
  border-radius: 3px 0 0 3px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 1.5rem;
  text-overflow: ellipsis;
  width: 308px;
  height: 32px;
  padding: 0 12px;
  margin: 6px 0 0 6px;
}
@media screen and (min-width: 900px) {
  #start-page {
    position: relative;
    width: 800px;
    margin: 20px auto;
  }
  #start-page #preview {
    position: absolute;
    top: 0;
    left: 0;
  }
  #start-page section {
    position: absolute;
    top: 0;
    left: 300px;
    margin: 108px 0 0 32px;
  }
}
