@import url('reset.css')

html, body
	height 100%

main
	position relative
	height 100%
	font-family 'Roboto', sans-serif
	-webkit-font-smoothing antialiased

#map
	width 100%
	height 100%

.hide
	display none !important

#sidebar
	position absolute
	transition transform .3s
	transform translatex(-260px)
	top 0
	z-index 2
	width 260px
	height 100%
	padding 6px 10px 0 18px
	background-color rgba(0, 0, 0, .85)
	color #eee
	font-size 1.6rem

	i
		margin-right 4px

	.close-sidebar
		float right
		font-size 4rem
		color rgba(255, 0, 0, .8)
		margin 0
		cursor pointer

	.close-sidebar:hover
		color rgba(255, 0, 0, 1)

	header
		margin-top 46px
	h1
		font-weight normal
		font-size 2rem
		color cornflowerblue

	h2
		margin-top 12px
		color cornflowerblue
		font-size 1.6rem

	#contact
		margin-top 12px
		border-top 1px solid #444

		.cta
			float left
			width 50%
			margin-top 4px
			padding-top 8 px
			border-left 1px solid #444
			cursor pointer
			color cornflowerblue

			i
				font-size 2.8rem
				color cornflowerblue

		.cta:first-child
			border-left none

		.cta:hover
			text-decoration none

#sidebar.show-sidebar
	transform translatex(0)

#mapSearch
	border 1px solid transparent
	border-radius 3px 0 0 3px
	outline none
	box-shadow 0 2px 6px rgba(0, 0, 0, .3)
	font-size 1.5rem
	text-overflow ellipsis
	width 400px
	height 32px
	padding 0 11px 0 13px
	margin-top 16px